<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Alex Rothenberg - {{ page.title }}</title>
   <meta name="author" content="Alex Rothenberg" />
   <link rel="alternate" type="application/atom+xml" title="Alex Rothenberg - feed" href="http://feeds2.feedburner.com/alexrothenberg">
   <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
   <link rel="stylesheet" href="/stylesheets/vibrant_ink.css" type="text/css" media="screen" charset="utf-8"/>
   <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
   <script src="/javascripts/jquery.github.js" type="text/javascript" charset="utf-8"></script>
   <link href="http://www.alexrothenberg.com/atom.xml" rel="alternate" title="Alex Rothenberg" type="application/atom+xml" />
</head>
<body>

<div id="site">
  <div id="header">
    <h1>AlexRothenberg</h1>
    <div id="menu">
      <a href="/index.html" id="blog_link">Blog Articles</a>
      <a href="/open_source.html" id="github_link">Open Source</a>
      <a href="/about_me.html" id="about_me">About Me</a>
    </div>
  </div>
  <div class="clearfix"/>
  
  <div id="content">
    {{ content }}
  </div>

  <div id='footer'>
    Copyright &copy; 2011 Alex Rothenberg. Some rights reserved.
  </div>

</div>

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5273122-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- Google Analytics end -->


</body>
</html>
