---
layout: master
---

<div class="post">
  <h1>{{ page.title}}</h1>
  <div class="date">{{ page.date | date: "%B %d, %Y" }}</div>
  <div><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="alexrothenberg" data-text="{{ page.title }}">Tweet</a>
       <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </div>
  <div class="body">
  {{ content }}
  </div>

  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://alexrothenberg.disqus.com/embed.js"> </script>
  <noscript>Please enable JavaScript to <a href="http://alexrothenberg.disqus.com/?url=ref">view the discussion thread.</a></noscript>
</div>